<h2 mat-dialog-title>{{ 'tools.dialogs.addTool.title' | translate }}</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="toolForm">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{ 'tools.shared.toolProperties.name' | translate }}</mat-label>
        <input
          id="name"
          matInput
          [placeholder]="'tools.shared.toolProperties.name' | translate"
          formControlName="name" />
        @if (toolForm.controls['name'].hasError('required')) {
          <mat-error>
            {{ 'tools.shared.toolProperties.name' | translate }}
            {{ 'shared.dialogs.errors.required' | translate }}
          </mat-error>
        }
        @if (toolForm.controls['name'].hasError('nameExists')) {
          <mat-error>
            {{ 'tools.dialogs.addTool.errors.nameExists' | translate }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{ 'tools.shared.toolProperties.description' | translate }}</mat-label>
        <textarea
          id="description"
          matInput
          [placeholder]="'tools.shared.toolProperties.description' | translate"
          formControlName="description"
          rows="2">
        </textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{ 'tools.shared.toolProperties.area' | translate }}</mat-label>
        <mat-select formControlName="area">
          @for (area of toolAreas; track area) {
            <mat-option [value]="area">{{ 'tools.areas.' + area | translate }}</mat-option>
          }
        </mat-select>
        @if (toolForm.controls['area'].hasError('required')) {
          <mat-error>
            {{ 'tools.shared.toolProperties.area' | translate }}
            {{ 'shared.dialogs.errors.required' | translate }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{ 'tools.shared.toolProperties.certificationRequirement' | translate }}</mat-label>
        <mat-select formControlName="certificationRequirement">
          @for (req of certificationRequirements; track req) {
            <mat-option [value]="req">
              <span class="certification-indicator certification-indicator--{{ req | lowercase }}"></span>
              {{ 'tools.certificationRequirements.' + req | translate }}
            </mat-option>
          }
        </mat-select>
        @if (toolForm.controls['certificationRequirement'].hasError('required')) {
          <mat-error>
            {{ 'tools.shared.toolProperties.certificationRequirement' | translate }}
            {{ 'shared.dialogs.errors.required' | translate }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()">
    {{ 'shared.dialogs.actions.edit.confirm' | translate }}
  </button>
  <button mat-stroked-button [mat-dialog-close]="null" cdkFocusInitial>
    {{ 'shared.dialogs.actions.edit.cancel' | translate }}
  </button>
</mat-dialog-actions>
