<h3 class="reader-header">
  {{ 'rfidReaders.sections.readerInformation' | translate }}
  <button mat-icon-button type="button" aria-label="Edit reader" (click)="updateReader()" [disabled]="!readonly()">
    <mat-icon>edit</mat-icon>
  </button>
</h3>

<form [formGroup]="rfidReaderForm">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>{{ 'rfidReaders.fields.macAddress' | translate }}</mat-label>
        <input id="macAddress" matInput formControlName="macAddress" readonly />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>{{ 'rfidReaders.fields.type' | translate }}</mat-label>
        <mat-select id="type" formControlName="type" [disabled]="readonly()">
          @for (type of rfidReaderTypes; track type) {
            <mat-option [value]="type">
              {{ 'rfidReaders.types.' + (type | lowercase) | translate }}
            </mat-option>
          }
        </mat-select>
        @if (rfidReaderForm.controls['type'].hasError('required')) {
          <mat-error>
            {{ 'rfidReaders.fields.type' | translate }}
            {{ 'rfidReaders.dialogs.editRfidReader.errors.required' | translate }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>{{ 'rfidReaders.fields.name' | translate }}</mat-label>
        <input
          id="name"
          matInput
          [placeholder]="'rfidReaders.fields.name' | translate"
          formControlName="name"
          [readonly]="readonly()" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>{{ 'rfidReaders.fields.socketName' | translate }}</mat-label>
        <input id="socketName" matInput formControlName="socketName" [readonly]="readonly()" />
      </mat-form-field>
    </div>
  </div>

  @if (!this.readonly()) {
    <div class="actions">
      <button mat-stroked-button mat-dialog-close (click)="onCancel()">
        {{ 'rfidReaders.dialogs.editRfidReader.actions.cancel' | translate }}
      </button>
      <button mat-flat-button color="primary" type="submit" (click)="onSave()">
        {{ 'rfidReaders.dialogs.editRfidReader.actions.confirm' | translate }}
      </button>
    </div>
  }
</form>
