.table-container {
  max-width: 1000px;
  margin: 2rem 0;
  width: 100%;
}

.mat-column-entryTime {
  max-width: 300px;
}

.mat-column-exitTime {
  max-width: 300px;
}

.mat-column-durationInMinutes {
  max-width: 100px;
}
