<h2 mat-dialog-title>Edit User</h2>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="userForm">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input id="firstName" matInput placeholder="First Name" formControlName="firstName" />
        @if (userForm.controls['firstName'].hasError('required')) {
          <mat-error>First name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input id="lastName" matInput placeholder="Last Name" formControlName="lastName" />
        @if (userForm.controls['lastName'].hasError('required')) {
          <mat-error>Last name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Date of Birth</mat-label>
        <input
          id="dateOfBirth"
          matInput
          readonly
          placeholder="Date of Birth"
          formControlName="dateOfBirth"
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker" />
        @if (userForm.controls['dateOfBirth'].hasError('required')) {
          <mat-error>Date of birth is <strong>required</strong></mat-error>
        }
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-checkbox formControlName="clubMember">Club Member</mat-checkbox>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Close</button>
  <button mat-flat-button color="primary" type="submit" (click)="save()">Save</button>
</mat-dialog-actions>
