<h3 class="address-header">
  Address:
  <button mat-icon-button type="button" aria-label="Edit address" (click)="updateAddress()" [disabled]="!readonly()">
    <mat-icon>edit</mat-icon>
  </button>
</h3>

<form [formGroup]="userAddressForm">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="addressLine1" [readonly]="readonly()" />
        @if (userAddressForm.controls['addressLine1'].hasError('required')) {
          <mat-error>Address is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>Address Line 2</mat-label>
        <input matInput formControlName="addressLine2" [readonly]="readonly()" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>Postal Code</mat-label>
        <input
          matInput
          #postalCode
          maxlength="5"
          placeholder="Postal Code"
          formControlName="postalCode"
          [readonly]="readonly()" />
        <mat-hint [align]="'end'">{{ postalCode.value.length }} / 5</mat-hint>
        @if (userAddressForm.controls['postalCode'].hasError('required')) {
          <mat-error>Postal code is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" [readonly]="readonly()" />
        @if (userAddressForm.controls['city'].hasError('required')) {
          <mat-error>City is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" [floatLabel]="'always'" [hideRequiredMarker]="true">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" formControlName="country" [readonly]="readonly()" />
        @if (userAddressForm.controls['country'].hasError('required')) {
          <mat-error>Country is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  @if (!this.readonly()) {
    <div class="actions">
      <button mat-stroked-button mat-dialog-close (click)="onCancel()">Cancel</button>
      <button mat-flat-button color="primary" type="submit" (click)="onSave()">Save</button>
    </div>
  }
</form>
