.user-contact {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}

.user-address {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}

.user-other {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}
