<div class="user-contact">
  <h3>Contact:</h3>
  <schbar-user-contact [user]="user()" />
</div>

<div class="user-address">
  <h3 style="display: flex; align-items: center; gap: 0.5rem">
    Address:
    <button mat-icon-button type="button" aria-label="Edit address">
      <mat-icon>edit</mat-icon>
    </button>
  </h3>
  <schbar-user-address [userAddress]="user().address" />
</div>

<div class="user-other">
  <h3>Other:</h3>
  <p><mat-slide-toggle labelPosition="before">Vereinsmitglied: </mat-slide-toggle></p>
</div>
