@if (detailsStore.user(); as user) {
  <div class="user-detail-header">
    <div class="user-detail-header-title">
      <div class="user-detail-header-title-actions">
        <h1>{{ detailsStore.userName() }}</h1>
        <button mat-icon-button (click)="updateUser()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="reloadUser()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <div class="user-detail-header-title-chips">
        <!-- TODO: move to .ts file to create list of chips -->
        <mat-chip-set>
          <mat-chip>
            {{ 'users.chips.userDetails.ageGroup.' + (user.ageGroup | lowercase) | translate }}
          </mat-chip>
          @if (user.clubMember) {
            <mat-chip>
              {{ 'users.chips.userDetails.clubMember' | translate }}
            </mat-chip>
          }
          @if (detailsStore.isRfidTagAssigned() || detailsStore.waitingForAssignment()) {
            <mat-chip>
              {{
                'users.chips.userDetails.rfidTags.' + (detailsStore.rfidTagAssignment()?.assignmentType | lowercase)
                  | translate
              }}
            </mat-chip>
            @if (detailsStore.isRfidTagAssigned()) {
              <mat-chip>{{ detailsStore.rfidTagAssignment()?.rfidTagId }}</mat-chip>
            } @else if (detailsStore.waitingForAssignment()) {
              <mat-chip> {{ 'users.chips.userDetails.rfidTags.waiting' | translate }} </mat-chip>
            }
          } @else {
            <mat-chip> {{ 'users.chips.userDetails.rfidTags.noRfidTag' | translate }} </mat-chip>
          }
        </mat-chip-set>
      </div>
    </div>
    @if (detailsStore.showAssignActions()) {
      <div class="user-detail-header-actions">
        <button mat-flat-button color="primary" (click)="assignTemporaryRfidTag()">
          {{ 'users.actions.assignTempRfidTag' | translate }}
        </button>
        <button mat-flat-button color="primary" (click)="assignFixedRfidTag()">
          {{ 'users.actions.assignFixedRfidTag' | translate }}
        </button>
      </div>
    }
    @if (detailsStore.showUnassignAction()) {
      <div class="user-detail-header-actions">
        <button mat-flat-button color="warn" (click)="unassignRfidTag()">
          {{ 'users.actions.unassignRfidTag' | translate }}
        </button>
      </div>
    }
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
    <mat-tab [label]="'users.tabGroups.userDetails.detailsTab' | translate">
      <div class="tab-content">
        <schbar-user-detail-info
          [user]="user"
          (addressChanged)="onAddressChanged($event)"
          (contactChanged)="onContactChanged($event)" />
      </div>
    </mat-tab>
    <mat-tab [label]="'users.tabGroups.userDetails.openSessionTab' | translate">
      <div class="tab-content">
        <schbar-user-open-session [userId]="user.id" />
      </div>
    </mat-tab>
  </mat-tab-group>
}
