.user-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.user-detail-header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.user-detail-header__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.tab-content {
  padding: 20px;
}
