.user-detail-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.user-detail-header-title {
  display: flex;
  flex-direction: column;
}

.user-detail-header-title-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.user-detail-header-title-chips {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.user-detail-header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.tab-content {
  padding: 1rem;
}
